html {
  font-size: 1rem;
  font-family: var(--sans-serif);
  color: var(--color-text-primary);
  background: var(--neutral-900);
  height: 100vh;
}

body {
  background: var(--background-gradient);
  height: 100%;
}
