/* color */
$heat: #cc6246;
$light: #d2ad2c;
$neutral-100: #e2e5ea;
$neutral-200: #c1c4c9;
$neutral-300: #9fa4ad;
$neutral-400: #81889a;
$neutral-50: #f6f8fe;
$neutral-500: #646b76;
$neutral-600: #505357;
$neutral-700: #33353a;
$neutral-800: #1f2125;
$neutral-850: #1a1c20;
$neutral-900: #101214;
$neutral-950: #010202;
